.container {
    display: flex;
    justify-content: center;
    gap: 16px;
    position: relative;
  }

.colorPickerCanvas {
    position: relative;
    align-self: flex-start;
}

.colorPickerWrapper {
    position: relative;
    height: 300px;
    display: flex;
}

.colorPickerMarker {
    position: absolute; 
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    width: 8px;
    height: 8px;
}

.colorSliderWrapper {
    position: relative;
    height: 300px;
    display: flex;
}

.colorSlider {
    align-self: flex-start;
}

.colorSliderMarker {
    position: absolute; 
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    width: 8px;
    height: 8px;
}